.header {
display: flex
}

.header li {
    list-style-type: none;
    padding-left: 7px;
    cursor: pointer;
}

.block {
    width: 200px;
    background-color: black;
}

li:hover {
    color: green;
}