.message {
    background-color: darkgoldenrod ;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
}

.dialog {
    background-color: black;
    width: 200px;
    height: 50px;
    border: 3px solid black;
    border-radius: 10px;
    margin: 25px;
    position: relative;
}

.avatar {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    margin: 27px -10px 25px 25px;
}

.time {
    position: absolute;
    left: 160px;
    bottom: 1px;
    color: white;
    opacity: 70%;
}

.name {
    display: block;
    color: aqua;
    padding-left: 10px;
}

.mess {
    color: white;
    padding-left: 10px;
}